<div class="col-3 d-flex flex-column gap-3 justify-content-center">
  <div class="Counter d-flex">
    <button class="btn btn-danger" (click)="minor()">Meno</button>
    <span>{{ Count }}</span>
    <button class="btn btn-success" (click)="plus()">Piu</button>
  </div>

  <div class="d-flex flex-column gap-3 justify-content-center">
    <div>
      <h1>Nome: {{ user.name }}</h1>
      <h2>Cognome: {{ user.username }}</h2>
    </div>

    <section>
      <h2>Post Utente:</h2>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </section>
  </div>
</div>
